---
/*
  Mukul's Personal Website is a Website
  Copyright (C) 2024 Mukul Kedia

  Mukul's Personal Website is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Mukul's Personal Website is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Mukul's Personal Website. If not, see <https://www.gnu.org/licenses/>.
*/

interface Props {
  name: string;
  description: string;
  date: string;
  url: string;
}

const { name, description, date, url } = Astro.props;

import arrowUpRightFromSquare from "@/assets/fontawesome/arrow-up-right-from-square.svg?raw";
---

<div class="rounded-box bg-neutral text-neutral-content relative max-w-96 p-6">
  <h1 class="pb-4 text-2xl leading-6 font-bold">{name}</h1>
  <p class="pb-4 font-semibold text-balance">{description}</p>
  <a href={url} target="_blank" class="btn btn-secondary float-right">
    See it
    <div set:html={arrowUpRightFromSquare} class="size-3 fill-current" />
  </a>
  <div class="badge badge-primary absolute top-6 right-6 font-semibold">{date}</div>
</div>
