---
/*
  Mukul's Personal Website is a Website
  Copyright (C) 2024 Mukul Kedia

  Mukul's Personal Website is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Mukul's Personal Website is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Mukul's Personal Website. If not, see <https://www.gnu.org/licenses/>.
*/

interface Props {
  name: string;
  description: string;
  date: string;
  url?: string;
}

const { name, description, date, url } = Astro.props;

import arrowUpRightFromSquare from "@/assets/fontawesome/arrow-up-right-from-square.svg?raw";
---

<div class="card w-full max-w-96 bg-neutral text-neutral-content">
  <div class="card-body">
    <div class="flex items-center justify-between">
      <h2 class="card-title text-2xl font-extrabold">{name}</h2>
      <div class="badge badge-primary font-semibold">{date}</div>
    </div>
    <p class="text-balance font-semibold">{description}</p>
    {
      url && (
        <div class="card-actions justify-end">
          <a href={url} target="_blank" class="btn btn-secondary flex items-center gap-2">
            See it
            <div set:html={arrowUpRightFromSquare} class="size-3 fill-current" />
          </a>
        </div>
      )
    }
  </div>
</div>
